.linearBg1 {
    /* fallback */
    background-color: #1a82f7;
    background-repeat: repeat-y;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#CC33CC), to(#FFFF99));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #CC33CC, #FFFF99);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #CC33CC, #FFFF99);

    /* IE 10 */
    background: -ms-linear-gradient(left, #CC33CC, #FFFF99);

    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #CC33CC, #FFFF99);
}